<div class="sidebar">
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/ecrire.png" alt="">Rendez-vous</a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/sapin-de-noel.png" alt="">Parcelle</a>
    <a class="btn btn btn-sm" routerLink="list-owner" (click)="onLinkClick('Propriétaire')"><img class="logo" src="../../../../assets/images/homme-daffaire.png" alt="">Propriétaire</a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/intervenant.png" alt="">Intervenant</a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/pin.png" alt="">Massif</a>
    <a class="btn btn btn-sm" routerLink="list-account" (click)="onLinkClick('Employé')"><img class="logo" src="../../../../assets/images/employe-de-bureau.png" alt="">Employé</a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/chat-en-direct.png" alt="">Appel</a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/carte.png" alt="">Visite</a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/travaux-publics.png" alt="">Action</a>
    <img class="fbw" src="../../../../assets/images/fbw-fotor-bg-remover-202311271673.png" alt="">
</div>

  

