<div *ngIf="isUserConnected()" class="sidebar">
    <a class="btn btn btn-sm" routerLink="dashboard"><img class="logo" src="../../../../assets/images/acceuil.svg" alt="accueil">Accueil</a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/rendez-vous.svg" alt="rendez-vous">Rendez-vous</a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/parcelle.svg" alt="parcelle">Parcelle</a>
    <a class="btn btn btn-sm" routerLink="list-owner"><img class="logo" src="../../../../assets/images/propriétaire.svg" alt="propriétaire">Propriétaire</a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/intervenant.svg" alt="intervenant">Intervenant</a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/massif.svg" alt="massif">Massif</a>
    <a class="btn btn btn-sm" routerLink="{{hasSecretaryRight()?'list-account':'read-account/'+getUserId()}}">
        <img class="logo" src="../../../../assets/images/employé.svg" alt="employé">Employé
    </a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/appel.svg" alt="appel">Appel</a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/visite.svg" alt="visite">Visite</a>
    <a class="btn btn btn-sm" routerLink="#"><img class="logo" src="../../../../assets/images/travaux.svg" alt="travaux">Travaux</a>
    <img class="fbw" src="../../../../assets/images/logo.svg" alt="image-fbw">
</div>

  

