.sidebar {
    width: 14rem;
    background-color: rgb(125, 149, 159);
    height: 75rem;
    border-top-right-radius: 5px;
    overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 0.5em;
  margin-left: 1.5em;
  text-align: left;
  font-weight: bold;
  
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(53, 96, 117);
  color: white;
}

.logo{
  margin: 1rem;
  width: 1.5rem;
}

.fbw {
  margin-bottom: 2rem;
  margin-top: 2.2rem;
  margin-left: 2.8rem;
  width: 122.68px;
  height: 46.6px;
}
