/* The side navigation menu */
.sidebar {
    width: 14rem;
    background-color: rgb(69, 103, 118);
    position: absolute;
    height: 100%;
    border-top-right-radius: 5px;
    overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 0.5em;
  margin-left: 1.5em;
  text-align: left;
  
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(53, 96, 117);
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.logo{
  margin: 1rem;
  width: 1.5rem;

}
