<div class="container">
    <h1 class="title">Encoder un rendez-vous</h1>
    <br>
    <br>
    <br>
    <br>
    <!-- RAJOUTER CI DESSOUS (ngSubmit)="createUser() -->
    <form [formGroup]="createAppointmentForm" (ngSubmit)="createAppointment">
        <div class="formEncadrement">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 d-flex flex-row">
                        <div class="d-flex flex-column">
                            <label for="date_visite" class="form-label">Date</label>
                            <input id="date_visite" type="date" class="form-control-sm" required formControlName="date_visite">
                        </div>
                        <div class="align-bottom">
                            <span class="text-danger" *ngIf="createAppointmentForm.get('date_visite')?.touched && createAppointmentForm.get('date_visite')?.errors?.['required']">Champs requis</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="heure_visite" class="form-label">Heure</label>
                        <br>
                        <input id="heure_visite" type="time" class="form-control-sm" required formControlName="heure_visite">
                        <br>
                        <span class="text-danger" *ngIf="createAppointmentForm.get('heure_visite')?.touched && createAppointmentForm.get('heure_visite')?.errors?.['required']">Champs requis</span>
                    </div>
                    <div class="mb-3">
                        <label for="locality" class="form-label">Localité</label>
                        <br>
                        <input id="locality" type="text" class="form-control-sm" required formControlName="locality">
                        <br>
                        <span class="text-danger" *ngIf="createAppointmentForm.get('locality')?.errors?.['maxlength']">Maximum 150 caractères</span>
                    </div>
                    <div class="mb-3">
                        <label for="meeting_place" class="form-label">Lieu de rendez-vous</label>
                        <br>
                        <input id="meeting_place" type="text" class="form-control-sm"  required formControlName="meeting_place">
                        <br>
                        <span class="text-danger" *ngIf="createAppointmentForm.get('meeting_place')?.touched && createAppointmentForm.get('meeting_place')?.errors?.['required']">Champs requis</span>
                        <span class="text-danger" *ngIf="createAppointmentForm.get('meeting_place')?.errors?.['maxlength']">Maximum 150 caractères</span>
                    </div>
                    <div class="mb-3">
                        <label for="person" class="form-label">Personne présente</label>
                        <br>
                        <input id="person" type="text" class="form-control-sm"  required formControlName="person">
                        <br>
                        <span class="text-danger" *ngIf="createAppointmentForm.get('person')?.touched && createAppointmentForm.get('person')?.errors?.['required']">Champs requis</span>
                        <span class="text-danger" *ngIf="createAppointmentForm.get('person')?.errors?.['maxlength']">Maximum 50 caractères</span>
                    </div>
                </div>
                <div class="col-md-6">
                   
                    <div class="mb-3">
                        <label for="isOwner" class="form-label">Est propriétaire</label>
                        <br>
                        <input id="isOwner" type="checkbox" class="form-control-sm" required formControlName="isOwner">
                        <br>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Téléphone</label>
                        <br>
                        <input id="phone" type="tel" class="form-control-sm" required formControlName="phone">
                        <br>
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form-label">Agent</label>
                        <br>
                        <input id="user" type="search" class="form-control-sm" required formControlName="user">
                        <br>
                        <span class="text-danger" *ngIf="createAppointmentForm.get('user')?.touched && createAppointmentForm.get('user')?.errors?.['required']">Champs requis</span>
                    </div>
                    <div class="mb-3">
                        <label for="parcel" class="form-label">Parcelle</label>
                        <br>
                        <input id="parcel" type="search" class="form-control-sm" required formControlName="parcel">
                        <br>
                        <span class="text-danger" *ngIf="createAppointmentForm.get('parcel')?.touched && createAppointmentForm.get('parcel')?.hasError('required')">Champ requis</span>
                    </div>
                    <div class="mb-3">
                        <label for="massif_visit" class="form-label">Visite massif</label>
                        <br>
                        <input id="massif_visit" type="text" class="form-control-sm" required formControlName="massif_visit">
                        <br>
                    </div>
                    <div class="mb-3">
                        <label for="massif_name" class="form-label">Nom massif</label>
                        <br>
                        <input id="massif_name" type="search" class="form-control-sm" required formControlName="massif_name">
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <button class="btn-retour m-3" routerLink="/appointment">
                <img class="img-retour" src="../../../../../assets/images/en-arriere.png" alt="retour">
            </button>
            <button type="submit" class="btn-enregistrer m-3">Enregistrer</button>
        </div>

    </form>
</div>

