
.card {
  width: 20rem;
}

.formEncadrement {
  border: 3px solid rgb(125, 149, 159);
  border-radius: 4px;  
  padding: 20px;
}

.btn-retour {
  background-color:rgb(240, 127, 60);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: transform 0.6s;
  font-weight: bold;
  box-shadow: 5px 5px 5px 0px grey;
}

.btn-retour:hover {
  background-color: rgb(248, 140, 77);
  transform: scale(1.1);
}

  .img-retour {
    width: 30px;
    height: 30px;
  }
  
  .btn-modifier {
    background-color: rgb(125, 149, 159);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: transform 0.6s;
    font-weight: bold;
    box-shadow: 5px 5px 5px 0px grey;
  }
  
  .btn-modifier:hover {
    transform: scale(1.05);
  }

  .btn-supprimer {
    background-color: #DC3545;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: transform 0.6s;
    font-weight: bold;
    box-shadow: 5px 5px 5px 0px grey;
  }
  
  .btn-supprimer:hover {
    transform: scale(1.05);
  }

  .btn-reset {
    background-color: #FFC107;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: transform 0.6s;
    font-weight: bold;
    box-shadow: 5px 5px 5px 0px grey;
  }
  
  .btn-reset:hover {
    transform: scale(1.05);
  }

  