<div class="container-fluid">
  <div class="row border border-3">
    <!-- !!!!!!!!!!!!!!!!!! COLONNE 1 !!!!!!!!!!!!!!!!!! -->
    <div class="col border border-5">
        <div class="mb-3">
          <label for="dateRange" class="form-label">Choisissez les dates</label>
          <br>
          <!-- Explication code ci dessous     
          ngb-datepicker: C'est le sélecteur de date de ng-bootstrap.
          #dp: Une référence locale au date picker.
          (dateSelect)="onDateSelection($event)": Un gestionnaire d'événements qui est appelé chaque fois qu'une date est sélectionnée, déclenchant la méthode onDateSelection.
          [displayMonths]="2": Affiche deux mois à la fois dans le sélecteur de dates.
          [dayTemplate]="t": Utilise un template personnalisé pour l'affichage des jours.
          outsideDays="hidden": Cache les jours du mois précédent et du mois suivant qui apparaissent dans le calendrier actuel. 
          -->
          <ngb-datepicker id="dateRange" [dayTemplate]="t" #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" outsideDays="hidden"></ngb-datepicker>
          
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
          
          <pre>From: {{ fromDate | json }} </pre>
          <pre>To: {{ toDate | json }} </pre>
        </div>
        
        <div class="mb-3">
          <label for="owner" class="form-label">Propriétaire</label>
          <br>
          <input id="owner" [(ngModel)]="owner" type="text" class="form-control-sm">
          <br>
        </div>
        <div class="mb-3">
          <label for="user" class="form-label">Employé</label>
          <br>
          <input id="user" [(ngModel)]="user" type="text" class="form-control-sm">
          <br>
        </div>
        <div class="mb-3">
          <label for="parcel" class="form-label">Parcelle</label>
          <br>
          <input id="parcel" [(ngModel)]="parcel" type="text" class="form-control-sm">
          <br>
        </div> 
    </div>
    <!-- !!!!!!!!!!!!!!!!!! COLONNE 1 !!!!!!!!!!!!!!!!!! -->
    <!-- !!!!!!!!!!!!!!!!!! COLONNE 2 HEADER !!!!!!!!!!!!!!!!!! -->
    <div class="col border border-1 border-primary">
      <div class="container">
        <div class="container text-center">
          <div class="row">
            <div class="col-3">
              Date de début
            </div>
            <div class="col-3">
              Date de fin
            </div>
            <div class="col">
              Propriétaire
            </div>
            <div class="col">
              Employé
            </div>
            <div class="col">
              Parcelle
            </div>
          </div>
        </div>
    <!-- !!!!!!!!!!!!!!!!!! COLONNE 2 HEADER !!!!!!!!!!!!!!!!!! -->
    <!-- !!!!!!!!!!!!!!!!!! COLONNE 2 CONTENT !!!!!!!!!!!!!!!!!! -->
        <div class="container text-center">
          <div class="row">
            <div class="col-3">
              <div *ngFor="let event of showedEventList">{{event.dateRange.fromDate | date:'dd/MM/yy, à HH:mm'}}</div>
            </div>
            <div class="col-3">
              <div *ngFor="let event of showedEventList">{{event.dateRange.toDate | date:'dd/MM/yy, à HH:mm'}}</div>
            </div>
            <div class="col">
              <div *ngFor="let event of showedEventList">{{event.owner}}</div>
            </div>
            <div class="col">
              <div *ngFor="let event of showedEventList">{{event.user}}</div>
            </div>
            <div class="col">
              <div *ngFor="let event of showedEventList">{{event.parcel}}</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <!-- !!!!!!!!!!!!!!!!!! COLONNE 2 CONTENT !!!!!!!!!!!!!!!!!! -->
  </div>  
</div>
