<div class="container-fluid">
  <div class="row border border-3">


<!-- !!!!!!!!!!!!!!!!!! COLONNE 1 !!!!!!!!!!!!!!!!!! -->
    <div class="col-2 border border-5">
        <div class="mb-3">
          <label for="dateRange" class="form-label">
            <span *ngIf="fromDate">{{ convertNgbDateToDate(fromDate) | date : 'dd/MM/yy' }}</span>
            -
            <span *ngIf="toDate">{{ convertNgbDateToDate(toDate) | date : 'dd/MM/yy' }}</span>
          </label>
          <br>
          <!-- ngb-datepicker
          https://ng-bootstrap.github.io/#/components/datepicker/examples 
          [dayTemplate]="t"     -> lie le ngb-datepicker au ng-template en dessous
          [displayMonths]="1"   -> Nombre de mois à afficher
          outsideDays="hidden"  -> Cache les jours de la semaine non compris entre le '1' et le '31'
          -->
          <ngb-datepicker id="dateRange" [dayTemplate]="t" #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1" outsideDays="hidden"></ngb-datepicker>

          <!-- ng-template pour personnaliser l'affichage des jours dans le datepicker 
          let-date et let-focused                                                -> récupèrent la date courante et l'état de focus 
          [class.focused]="focused"                                              -> applique une classe CSS si le jour est focalisé 
          [class.range]="isRange(date)"                                          -> applique une classe CSS si le jour est dans la plage sélectionnée
          [class.faded]="isHovered(date) || isInside(date)"                      -> applique une classe CSS si le jour est survolé ou à l'intérieur de la plage sélectionnée
          (mouseenter)="hoveredDate = date" et (mouseleave)="hoveredDate = null" ->  gèrent les événements de survol 
          -->
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
        
        <div class="mb-3">
          <label for="owner" class="form-label">Propriétaire</label>
          <br>
          <input id="owner" [(ngModel)]="event.owner" type="text" class="form-control-sm">
          <br>
        </div>
        <div class="mb-3">
          <label for="user" class="form-label">Employé</label>
          <br>
          <input id="user" [(ngModel)]="event.user" type="text" class="form-control-sm">
          <br>
        </div>
        <div class="mb-3">
          <label for="parcel" class="form-label">Parcelle</label>
          <br>
          <input id="parcel" [(ngModel)]="event.parcel" type="text" class="form-control-sm">
          <br>
        </div> 
    </div>
<!-- !!!!!!!!!!!!!!!!!! COLONNE 1 !!!!!!!!!!!!!!!!!! -->


<!-- !!!!!!!!!!!!!!!!!! COLONNE 2 HEADER !!!!!!!!!!!!!!!!!! -->
    <div class="col-10 border border-1 border-primary">
      <div class="container">
        <div class="container text-center">
          <div class="row">
            <div class="col-3">
              Date de début
            </div>
            <div class="col-3">
              Date de fin
            </div>
            <div class="col">
              Propriétaire
            </div>
            <div class="col">
              Employé
            </div>
            <div class="col">
              Parcelle
            </div>
          </div>
        </div>
<!-- !!!!!!!!!!!!!!!!!! COLONNE 2 HEADER !!!!!!!!!!!!!!!!!! -->


<!-- !!!!!!!!!!!!!!!!!! COLONNE 2 CONTENT !!!!!!!!!!!!!!!!!! -->
        <div class="container text-center">
          <ul class="list-group">
            <li *ngFor="let event of showedEventList" class="list-group-item">
              <div class="row">
                <div class="col-3 isHovered:active">{{ event.startDate | date:'dd/MM/yy, à HH:mm' }}</div>
                <div class="col-3">{{ event.endDate| date:'dd/MM/yy, à HH:mm' }}</div>
                <div class="col">{{ event.owner }}</div>
                <div class="col">{{ event.user }}</div>
                <div class="col">{{ event.parcel }}</div>
              </div>
            </li>
          </ul>
        </div>

        
      </div>
    </div>
  </div>  
</div>
<!-- !!!!!!!!!!!!!!!!!! COLONNE 2 CONTENT !!!!!!!!!!!!!!!!!! -->


