<div class="container-fluid">
  <div class="row border border-3">
    <!-- !!!!!!!!!!!!!!!!!! COLONNE 1 !!!!!!!!!!!!!!!!!! -->
    <div class="col border border-5">
      <form [formGroup]="appointmentForm" (ngSubmit)="searchAppointment()">
        <div class="mb-3">
          <!-- Doc datepicker https://ng-bootstrap.github.io/#/components/datepicker/overview 
          https://ng-bootstrap.github.io/#/components/datepicker/api#NgbInputDatepicker-->
          <label for="startDate" class="form-label">Date début</label>
          <br>
          <!-- <input id="startDate" formControlName="startDate" type="" class="form-control-sm" ngbDatepicker #dpStart="ngbDatepicker" placeholder="Date début" (focus)="dpStart.toggle()" (dateSelect)="dpStart.close()" required/> -->
          <!-- <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" outsideDays="hidden" /> -->
          <!-- <ngb-datepicker [(ngModel)]="range" #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" outsideDays="hidden" /> -->
          <ngb-date-range-picker formControlName="dateRange">Choisissez ddate</ngb-date-range-picker>

          <br>

        </div>
        <div class="mb-3">
          <!-- Doc datepicker https://ng-bootstrap.github.io/#/components/datepicker/overview
          https://ng-bootstrap.github.io/#/components/datepicker/api#NgbInputDatepicker -->
          <label for="endDate" class="form-label">Date fin</label>
          <br>
          <!-- <input id="endDate" formControlName="endDate" type="" class="form-control-sm" ngbDatepicker #dpEnd="ngbDatepicker" placeholder="Date fin" (focus)="dpEnd.toggle()" (dateSelect)="dpEnd.close()" required/> -->
          <br>
        </div>
        <div class="mb-3">
          <label for="owner" class="form-label">Propriétaire</label>
          <br>
          <input id="owner" formControlName="owner" type="text" class="form-control-sm">
          <br>
        </div>
        <div class="mb-3">
          <label for="user" class="form-label">Employé</label>
          <br>
          <input id="user" formControlName="user" type="text" class="form-control-sm">
          <br>
        </div>
        <div class="mb-3">
          <label for="parcel" class="form-label">Parcelle</label>
          <br>
          <input id="parcel" formControlName="parcel" type="text" class="form-control-sm">
          <br>
        </div> 
        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </form>
    </div>
    <!-- !!!!!!!!!!!!!!!!!! COLONNE 1 !!!!!!!!!!!!!!!!!! -->
    <!-- !!!!!!!!!!!!!!!!!! COLONNE 2 HEADER !!!!!!!!!!!!!!!!!! -->
    <div class="col border border-1 border-primary">
      <div class="container">
        <div class="container text-center">
          <div class="row">
            <div class="col-3">
              Date de début
            </div>
            <div class="col-3">
              Date de fin
            </div>
            <div class="col">
              Propriétaire
            </div>
            <div class="col">
              Employé
            </div>
            <div class="col">
              Parcelle
            </div>
          </div>
        </div>
    <!-- !!!!!!!!!!!!!!!!!! COLONNE 2 HEADER !!!!!!!!!!!!!!!!!! -->
    <!-- !!!!!!!!!!!!!!!!!! COLONNE 2 CONTENT !!!!!!!!!!!!!!!!!! -->
        <div class="container text-center">
          <div class="row">
            <div class="col-3">
              <div *ngFor="let event of showedEventList">{{event.startDate | date:'dd/MM/yy, à HH:mm'}}</div>
            </div>
            <div class="col-3">
              <div *ngFor="let event of showedEventList">{{event.endDate | date:'dd/MM/yy, à HH:mm'}}</div>
            </div>
            <div class="col">
              <div *ngFor="let event of showedEventList">{{event.owner}}</div>
            </div>
            <div class="col">
              <div *ngFor="let event of showedEventList">{{event.user}}</div>
            </div>
            <div class="col">
              <div *ngFor="let event of showedEventList">{{event.parcel}}</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <!-- !!!!!!!!!!!!!!!!!! COLONNE 2 CONTENT !!!!!!!!!!!!!!!!!! -->
  </div>  
</div>
