.form-check-input:not(:checked) {
    background-color: #dc3545; 
    border-color: #dc3545; 
  }

.form-check-input:checked {
    background-color: #28a745; 
    border-color: #28a745; 
  }


.btn-enregistrer {
  background-color:rgb(240, 127, 60);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: transform 0.6s;
  font-weight: bold;
  box-shadow: 5px 5px 5px 0px grey;
}

.btn-enregistrer:hover {
  background-color: rgb(0, 101, 46);
  transform: scale(1.1);
}

.btn-retour {
  background-color:rgb(240, 127, 60);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: transform 0.6s;
  font-weight: bold;
  box-shadow: 5px 5px 5px 0px grey;
}

.btn-retour:hover {
  background-color: rgb(248, 140, 77);
  transform: scale(1.1);
}

.img-retour {
  width: 30px;
  height: 30px;
}