<div class="container">
    <h5 class="title" style="margin-bottom: 30px;">Encodage parcelle</h5>
    <!-- Création d'une rangée -->
    <div class="row">
        <!-- Premier conteneur (Propriétaire) -->
        <div class="col-md-6  justify-content-center">
            <div class="formEncadrement">
                <h4>Propriétaire(s) lié(s)</h4>
                <!--div image-->
                <div class="left-div">
                    <img class="imageAvatar" src="../../../../../assets/images/homme-daffaire_VERT.png"
                        alt="avatar propriétaire">
                </div>
                <!--div indivision-->
                <div class="right-div">
                    <p>Indivision</p>
                    <div class="indivisionMiniEncadrement">
                      <div class="alignement">
                        <button>
                          <img class="indivisionBoutons" src="../../../../../assets/images/btn-minus.png" alt="bouton ajout">
                        </button>
                        <p>ici s'afficheront les propriétaires sélectionnés</p>
                        <ul>
                          <li *ngFor="let owner of owners">{{ owner.lname }}</li>
                        </ul>
                        <button>
                          <img class="indivisionBoutons" src="../../../../../assets/images/btn-add.png" alt="bouton ajout" (click)="addOwnerToParcel()">
                        </button>
                      </div>
                    </div>
                  </div>
                  
                <!-- Les inputs de la recherche du propriétaire -->
                <div class="mb-3">
                    <!-- Nom -->
                    <label for="lname" class="form-label">Nom&nbsp;</label>
                    <!--&nbsp permet de mettre un espace en le label et l'input-->
                    <input type="text" [(ngModel)]=lname (keyup)="SearchOwner()">
                      <!-- Afficher les résultats sous l'input lname -->
                <div *ngIf="owners.length > 0">
                    <ul>
                        <li *ngFor="let owner of owners" (click)="selectOwner(owner)">
                            {{ owner.lname }}
                        </li>
                    </ul>
                </div>
                </div>
                <!-- Prénom -->
                <div class="mb-3">
                    <label for="fname" class="form-label">Prénom&nbsp;</label>
                    <input type="text" [(ngModel)]=fname (keyup)="SearchOwner()">
                    <select *ngIf="SearchOwner.length>0">
                        <option *ngFor="let owner of owners" [value]="owner.fname"> <!--source: https://stackoverflow.com/questions/54106560/dynamic-select-option-using-objects-in-angular-->
                        {{owner.fname}}
                        </option>
                    </select>
                </div>
                <!-- Mail -->
                <div class="mb-3">
                    <label for="email" class="form-label">Mail&nbsp;</label>
                    <input type="text" [(ngModel)]="email" (keyup)="SearchOwner()">
                    <div *ngIf="owners.length > 0">
                        <ul>
                            <li *ngFor="let owner of owners" (click)="selectOwner(owner)">
                                {{ owner.email }}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Code Postal -->
                <div class="mb-3">
                    <label for="zip" class="form-label">Code Postal&nbsp;</label>
                    <input type="text" [(ngModel)]=zip (keyup)="SearchOwner()">
                </div>
            </div>
            <p>afficher ici les propriétaires qui auront été cherché et validé par les inputs (input déroulant) au
                dessus en mode outlook,
                ainsi on évitera de refaire un form pour les propriétaires.

                Pour faire le lien avec la parcelle on met dans un objet</p>



        </div>






        <!-- Deuxième conteneur (Parcelle) -->
        <form class="col-md-6  justify-content-center">
            <div class="formEncadrement">
                <h4>Créer ou modifier une parcelle</h4>
                <!--div image-->
                <div>
                    <img class="imageParcelle" src="../../../../../assets/images/parcelle-creation.png"
                        alt="avatar parcelle">
                </div>
                <!--div des inputs-->
                <div class="right-div">
                    <div class="mb-3">
                        <!-- Les inputs de la recherche de la parcelle -->
                        <!-- Nom -->
                        <label for="??" class="form-label">Numéro&nbsp;</label>
                        <!-- <input type="text" [(ngModel)]=parcelleName (keyup)="SearchParcelle()"> -->
                    </div>
                    <!-- Prénom -->
                    <div class="mb-3">
                        <label for="??" class="form-label">Capakey&nbsp;</label>
                        <!-- <input type="text" [(ngModel)]=parcelleFname (keyup)="SearchParcelle()"> -->
                    </div>
                    <!-- Code Postal -->
                    <div class="mb-3">
                        <label for="???" class="form-label">Adresse&nbsp;</label>
                        <!-- <input type="text" [(ngModel)]=parcelleZip (keyup)="SearchParcelle()"> -->
                    </div>
                    <div class="mb-3">
                        <label for="???" class="form-label">Localité&nbsp;</label>
                        <!-- <input type="text" [(ngModel)]=parcelleZip (keyup)="SearchParcelle()"> -->
                    </div>
                    <div class="mb-3">
                        <label for="???" class="form-label">Code Postal&nbsp;</label>
                        <!-- <input type="text" [(ngModel)]=parcelleZip (keyup)="SearchParcelle()"> -->
                    </div>
                    <div class="mb-3">
                        <label for="???" class="form-label">Superficie&nbsp;</label>
                        <!-- <input type="text" [(ngModel)]=parcelleZip (keyup)="SearchParcelle()"> -->
                    </div>
                    <div class="mb-3">
                        <a href="">
                            <button type="button" class="btn btn">Parcelles liées</button>
                        </a>
                    </div>
                    <div class="mb-3">
                        <input id="note" type="text" placeholder="Note">
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn">Sauver les données</button>
        </form>
    </div>
</div>













<!-- créer bouton pour aller au formulaire création propriétaire si trouve pas correspondance entre
parcelle et propriétaire -->
<p>Si propriétaire introuvable :
    <a href="http://localhost:4200/owner-management">
        <button type="button" class="btn btn">Création du propriétaire</button>
    </a>
</p>





<!-- création+ recherche parcelle -->