<!-- Ici le formulaire est divisé en 3 colonnes afin de ne pas avoir à scroller-->
<div class="container">
    <h5 class="title">Propriétaire</h5>
    <br>
    <button class="btn-retour" routerLink="/list-owner"><img class="img-retour" src="../../../../../assets/images/en-arriere.png" alt="retour"></button>
    <br>
    <br>
    <h2 class="sub-title">Modifier un Propriétaire</h2>
    <br>
    <form [formGroup]="registerForm" (ngSubmit)="updateOwner()">
        <div class="formEncadrement">
        <div class="row"> <!--permet de faire les colonnes-->

            <!--colonne 1-->
            <div class="col-md-3">
                <!--lname-->
                <div class="mb-3">
                    <label for="lastname" class="form-label">Nom</label>
                    <br>
                    <input id="lname" type="text" class="form-control-sm" required formControlName="lname">
                    <span class="text-danger"
                        *ngIf="registerForm.get('lname')?.touched && registerForm.get('lname')?.errors?.['required']">Champs
                        requis</span>
                </div>

                <!--fname-->
                <div class="mb-3">
                    <label for="text-firstname" class="form-label">Prénom</label>
                    <br>
                    <input id="fname" type="text" class="form-control-sm" required formControlName="fname">
                    <span class="danger"
                        *ngIf="registerForm.get('fname')?.touched && registerForm.get('fname')?.errors?.['required']">Champs
                        requis</span>
                </div>

                <!--adress-->
                <div class="mb-3">
                    <label for="adress" class="form-label">Adresse</label>
                    <br>
                    <input type="text" class="form-control-sm" required formControlName="adress">
                    <span class="text-danger"
                        *ngIf="registerForm.get('adress')?.touched && registerForm.get('adress')?.errors?.['required']">Champs
                        requis</span>
                </div>
                <!--Zip-->
                <div class="mb-3">
                    <label for="zip" class="form-label">Code Postal</label>
                    <br>
                    <input type="text" class="form-control-sm" required formControlName="zip">
                    <br>
                    <span class="text-danger"
                        *ngIf="registerForm.get('zip')?.touched && registerForm.get('zip')?.errors?.['required']">Champs
                        requis</span>
                </div>


                <!--City-->
                <div class="mb-3">
                    <label for="city" class="form-label">Ville</label>
                    <br>
                    <input type="text" class="form-control-sm" required formControlName="city">
                    <br>
                    <span class="text-danger"
                        *ngIf="registerForm.get('city')?.touched && registerForm.get('city')?.hasError('required')">Champ
                        requis</span>
                    <span class="text-danger"
                        *ngIf="registerForm.hasError('city') && registerForm.get('city')?.touched"></span>
                </div>
            </div>

            <!--colonne 2-->
            <div class="col-md-3">
                <!--State-->
                <div class="mb-3">
                    <label for="state" class="form-label">Province/Region</label>
                    <br>
                    <input type="text" class="form-control-sm" required formControlName="state">
                    <br>
                    <span class="text-danger"
                        *ngIf="registerForm.get('state')?.touched && registerForm.get('state')?.hasError('required')">Champ
                        requis</span>
                    <span class="text-danger"
                        *ngIf="registerForm.hasError('state') && registerForm.get('state')?.touched"></span>
                </div>

                <!--Country-->
                <div class="mb-3">
                    <label for="country" class="form-label">Pays</label>
                    <br>
                    <input type="text" class="form-control-sm" required formControlName="country">
                    <br>
                    <span class="text-danger"
                        *ngIf="registerForm.get('country')?.touched && registerForm.get('country')?.hasError('required')">Champ
                        requis</span>
                    <span class="text-danger"
                        *ngIf="registerForm.hasError('country') && registerForm.get('country')?.touched"></span>
                </div>

                <!--Email-->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <br>
                    <input type="email" class="form-control-sm" required formControlName="email">
                    <span class="text-danger"
                        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">Champs
                        requis</span>
                    <span class="text-danger" *ngIf="registerForm.get('email')?.errors?.['email']">Format de mail
                        invalide</span>
                </div>


                <!--Phone-->
                <div class="mb-3">
                    <label for="phone" class="form-label">Numéro de téléhone</label>
                    <br>
                    <input type="text" class="form-control-sm" required formControlName="phone">
                    <br>
                    <span class="text-danger"
                        *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.hasError('required')">Champ
                        requis</span>
                    <span class="text-danger"
                        *ngIf="registerForm.hasError('phone') && registerForm.get('phone')?.touched"></span>
                </div>

                <!--Fax-->
                <div class="mb-3">
                    <label for="fax" class="form-label">Numéro de fax</label>
                    <br>
                    <input type="text" class="form-control-sm" required formControlName="fax">
                    <br>
                    <span class="text-danger"
                        *ngIf="registerForm.hasError('fax') && registerForm.get('fax')?.touched"></span>
                </div>
        </div>

    <!--colonne 3-->
    <!--gsm-->
    <div class="col-md-3">
                       <div class="mb-3">
                    <label for="gsm" class="form-label">Numéro de GSM</label>
                    <br>
                    <input type="text" class="form-control-sm" required formControlName="gsm">
                    <br>
                    <span class="text-danger"
                        *ngIf="registerForm.hasError('gsm') && registerForm.get('gsm')?.touched"></span>
                </div>

                <!--contact-->
                <div class="mb-3">
                    <label for="contact" class="form-label">Contact</label>
                    <br>
                    <input type="text" class="form-control-sm" required formControlName="contact">
                    <br>
                    <span class="text-danger"
                        *ngIf="registerForm.hasError('contact') && registerForm.get('contact')?.touched"></span>
                </div>


                <!--comment-->
                <div class="mb-3">
                    <label for="comment" class="form-label">Commentaire</label>
                    <br>
                    <input type="text" class="form-control-sm" required formControlName="comment">
                    <br>
                    <span class="text-danger"
                        *ngIf="registerForm.hasError('comment') && registerForm.get('comment')?.touched"></span>
                </div>

                <!--reunion-->
                <div class="mb-3">
                    <label for="reunion" class="form-label">Reunion</label>
                    <br>
                    <input type="text" class="form-control-sm" required formControlName="reunion">
                    <br>
                    <span class="text-danger"
                        *ngIf="registerForm.hasError('reunion') && registerForm.get('reunion')?.touched"></span>
                </div>


                <!--manifeste-->
                <div class="mb-3">
                    <label for="manifeste" class="form-label">Manifeste</label>
                    <br>
                    <input type="text" class="form-control-sm" required formControlName="manifeste">
                    <br>
                    <span class="text-danger"
                        *ngIf="registerForm.hasError('manifeste') && registerForm.get('manifeste')?.touched"></span>
                </div>
                </div>
                </div>
            </div>
<br>
                <button type="button" class="btn-modifier" (click)="updateOwner()">Mettre à jour</button>
    </form>
</div>