<div class="container">
    <form [formGroup]="registerForm">
        <!--lname-->
        <div class="mb-3">
           <label for="lastname" class="form-label">Nom</label>
           <br>
           <input id="lname" type="text" class="form-control-sm" required formControlName="lname">
           <span class="text-danger" *ngIf="registerForm.get('lname')?.touched && registerForm.get('lname')?.errors?.['required']">Champs requis</span>
           <button type="button" class="btn btn-primary">Mettre à jour</button>
           <button type="button" class="btn btn-primary">Supprimer</button>
        </div>
        
        <!--fname-->
        <div class="mb-3">
            <label for="text-firstname" class="form-label">Prénom</label>
            <br>
            <input id="fname" type="text" class="form-control-sm" required formControlName="fname">
            <span class="danger" *ngIf="registerForm.get('fname')?.touched && registerForm.get('fname')?.errors?.['required']">Champs requis</span>
            <button type="button" class="btn btn-primary">Mettre à jour</button>
            <button type="button" class="btn btn-primary">Supprimer</button>
        </div>

        <!--adress-->
        <div class="mb-3">
            <label for="adress" class="form-label">Adresse</label>
            <br>
            <input type="text" class="form-control-sm" required formControlName="adress">
            <span class="text-danger" *ngIf="registerForm.get('adress')?.touched && registerForm.get('adress')?.errors?.['required']">Champs requis</span>
            <button type="button" class="btn btn-primary">Mettre à jour</button>
            <button type="button" class="btn btn-primary">Supprimer</button>
        </div>
        <!--Zip-->
        <div class="mb-3">
            <label for="zip" class="form-label">Code Postal</label>
            <br>
            <input type="text" class="form-control-sm" required formControlName="zip">
            <br>
            <span class="text-danger" *ngIf="registerForm.get('zip')?.touched && registerForm.get('zip')?.errors?.['required']">Champs requis</span>
            <button type="button" class="btn btn-primary">Mettre à jour</button>
            <button type="button" class="btn btn-primary">Supprimer</button>
        </div>


        <!--City-->
        <div class="mb-3">
            <label for="city" class="form-label">Ville</label>
            <br>
            <input type="text" class="form-control-sm" required formControlName="city">
            <br>
            <span class="text-danger" *ngIf="registerForm.get('city')?.touched && registerForm.get('city')?.hasError('required')">Champ requis</span>
            <span class="text-danger" *ngIf="registerForm.hasError('city') && registerForm.get('city')?.touched"></span>
            <button type="button" class="btn btn-primary">Mettre à jour</button>
            <button type="button" class="btn btn-primary">Supprimer</button>
        </div>

        <!--State-->
        <div class="mb-3">
            <label for="state" class="form-label">Province/Region</label>
            <br>
            <input type="text" class="form-control-sm" required formControlName="state">
            <br>
            <span class="text-danger" *ngIf="registerForm.get('state')?.touched && registerForm.get('state')?.hasError('required')">Champ requis</span>
            <span class="text-danger" *ngIf="registerForm.hasError('state') && registerForm.get('state')?.touched"></span>
            <button type="button" class="btn btn-primary">Mettre à jour</button>
            <button type="button" class="btn btn-primary">Supprimer</button>
        </div>

        <!--Country-->
        <div class="mb-3">
            <label for="country" class="form-label">Pays</label>
            <br>
            <input type="text" class="form-control-sm" required formControlName="country">
            <br>
            <span class="text-danger" *ngIf="registerForm.get('country')?.touched && registerForm.get('country')?.hasError('required')">Champ requis</span>
            <span class="text-danger" *ngIf="registerForm.hasError('country') && registerForm.get('country')?.touched"></span>
            <button type="button" class="btn btn-primary">Mettre à jour</button>
            <button type="button" class="btn btn-primary">Supprimer</button>
        </div>

        <!--Email-->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <br>
            <input type="email" class="form-control-sm"  required formControlName="email">
            <span class="text-danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">Champs requis</span>
            <span class="text-danger" *ngIf="registerForm.get('email')?.errors?.['email']">Format de mail invalide</span>
            <button type="button" class="btn btn-primary">Mettre à jour</button>
            <button type="button" class="btn btn-primary">Supprimer</button>
        </div>


        <!--Phone-->
        <div class="mb-3">
            <label for="phone" class="form-label">Numéro de téléhone</label>
            <br>
            <input type="text" class="form-control-sm" required formControlName="phone">
            <br>
            <span class="text-danger" *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.hasError('required')">Champ requis</span>
            <span class="text-danger" *ngIf="registerForm.hasError('phone') && registerForm.get('phone')?.touched"></span>
            <button type="button" class="btn btn-primary">Mettre à jour</button>
            <button type="button" class="btn btn-primary">Supprimer</button>
        </div>
  
        <!--Fax-->
        <div class="mb-3">
            <label for="fax" class="form-label">Numéro de fax</label>
            <br>
            <input type="text" class="form-control-sm" required formControlName="fax">
            <br>
            <span class="text-danger" *ngIf="registerForm.get('fax')?.touched && registerForm.get('fax')?.hasError('required')">Champ requis</span>
            <span class="text-danger" *ngIf="registerForm.hasError('fax') && registerForm.get('fax')?.touched"></span>
            <button type="button" class="btn btn-primary">Mettre à jour</button>
            <button type="button" class="btn btn-primary">Supprimer</button>
        </div>

        <!--gsm-->
        <div class="mb-3">
            <label for="gsm" class="form-label">Numéro de GSM</label>
            <br>
            <input type="text" class="form-control-sm" required formControlName="gsm">
            <br>
            <span class="text-danger" *ngIf="registerForm.get('gsm')?.touched && registerForm.get('gsm')?.hasError('required')">Champ requis</span>
            <span class="text-danger" *ngIf="registerForm.hasError('gsm') && registerForm.get('gsm')?.touched"></span>
            <button type="button" class="btn btn-primary">Mettre à jour</button>
            <button type="button" class="btn btn-primary">Supprimer</button>
        </div>

       <!--contact-->
       <div class="mb-3">
        <label for="contact" class="form-label">Contact</label>
        <br>
        <input type="text" class="form-control-sm" required formControlName="contact">
        <br>
        <span class="text-danger" *ngIf="registerForm.get('contact')?.touched && registerForm.get('contact')?.hasError('required')">Champ requis</span>
        <span class="text-danger" *ngIf="registerForm.hasError('contact') && registerForm.get('contact')?.touched"></span>
        <button type="button" class="btn btn-primary">Mettre à jour</button>
        <button type="button" class="btn btn-primary">Supprimer</button>
    </div>


       <!--comment-->
       <div class="mb-3">
        <label for="comment" class="form-label">Commentaire</label>
        <br>
        <input type="text" class="form-control-sm" required formControlName="comment">
        <br>
        <span class="text-danger" *ngIf="registerForm.get('comment')?.touched && registerForm.get('comment')?.hasError('required')">Champ requis</span>
        <span class="text-danger" *ngIf="registerForm.hasError('comment') && registerForm.get('comment')?.touched"></span>
        <button type="button" class="btn btn-primary">Mettre à jour</button>
        <button type="button" class="btn btn-primary">Supprimer</button>
    </div>

       <!--reunion-->
       <div class="mb-3">
        <label for="reunion" class="form-label">Reunion</label>
        <br>
        <input type="text" class="form-control-sm" required formControlName="reunion">
        <br>
        <span class="text-danger" *ngIf="registerForm.get('reunion')?.touched && registerForm.get('reunion')?.hasError('required')">Champ requis</span>
        <span class="text-danger" *ngIf="registerForm.hasError('reunion') && registerForm.get('reunion')?.touched"></span>
        <button type="button" class="btn btn-primary">Mettre à jour</button>
        <button type="button" class="btn btn-primary">Supprimer</button>
    </div>

    
       <!--manifeste-->
       <div class="mb-3">
        <label for="manifeste" class="form-label">Manifeste</label>
        <br>
        <input type="text" class="form-control-sm" required formControlName="manifeste">
        <br>
        <span class="text-danger" *ngIf="registerForm.get('manifeste')?.touched && registerForm.get('manifeste')?.hasError('required')">Champ requis</span>
        <span class="text-danger" *ngIf="registerForm.hasError('manifeste') && registerForm.get('manifeste')?.touched"></span>
        <button type="button" class="btn btn-primary">Mettre à jour</button>
        <button type="button" class="btn btn-primary">Supprimer</button>
    </div>


    </form>
</div>

