<div class="container">
    <h2>Mes Utilisateurs</h2>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registerAccount of registerAccountList">
                <td>{{ registerAccount.lastName }}</td>
                <td>{{ registerAccount.firstName }}</td>
            </tr>
        </tbody>
    </table>
</div>
