<div class="navbar">
    <img src="../../../../assets/images/celluleappui.png" alt="">
    <h1>{{ navbarText$ | async }}</h1>
    <div>
        <span *ngIf="connectedUser">{{ connectedUser.roles }} {{ connectedUser.firstName }}</span>
        <span *ngIf="!connectedUser"></span>
    </div>
    <div>
        <a *ngIf="!connectedUser" class="btn btn-secondary btn-sm" routerLink="auth" (click)="onLinkClick('Login')">Login</a>
        <a *ngIf="connectedUser" class="btn btn-secondary btn-sm" routerLink="auth" (click)="logout()"><i class="fa fa-fw fa-user"></i>Lougout</a>
    </div>
</div>