<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="container">
      <div class="imgcontainer">
        <img src="../../../../../assets/images/Logo_Cellule_Quadri_new_FBW-vecto.png" alt="Avatar" class="avatar">
      </div>
      <br>
      <label for="password"><b>Nouveau Mot de Passe</b></label>
      <br>
      <input type="password" placeholder="Entrer le Nouveau Mot de Passe" name="login" formControlName='password' required>
      <span class="text-danger" *ngIf="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.errors?.['required']">Champs requis</span>
      <span class="text-danger" *ngIf="resetPasswordForm.get('password')?.errors?. ['pattern']">Votre mot de passe doit contenir au moins 8 caractères dont une minuscule, une majuscule et un chiffre</span>
      <span class="text-danger" *ngIf="resetPasswordForm.get('password')?.errors?.['maxlength']">Maximum 150 caractères</span>
      <br>
      <label for="passwordVerified"><b>Confirmer le Mot de Passe</b></label>
      <br>
      <input type="password" placeholder="Entrer le Nouveau Mot de Passe" name="password" formControlName='passwordVerified' required>
      <span class="text-danger" *ngIf="resetPasswordForm.get('passwordVerified')?.touched && resetPasswordForm.get('passwordVerified')?.hasError('required')">Champ requis</span>
      <br>
      <span class="text-danger" *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.get('passwordVerified')?.touched">Les mots de passe ne correspondent pas</span>
      <br>
      <button class="btn-auth" type="submit">Changer le Mot de Passe</button>
      <br>
    </div>
  </form>