<p>owner-management works!</p>
<div class="container">
    <div class="mb-3">
       <label for="lastname" class="form-label">Nom</label>
       <br>
       <input type="text" class="form-control-sm" formControlName="lastname">
    </div>
    <div class="mb-3">
        <label for="firstname" class="form-label">Prénom</label>
        <br>
        <input type="text" class="form-control-sm" formControlName="firstname">
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Pseudo</label>
        <br>
        <input type="text" class="form-control-sm" formControlName="username">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <br>
        <input type="email" class="form-control-sm" type="text" formControlName="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <br>
        <input type="password" class="form-control-sm" type="text" formControlName="password">
    </div>
    <div class="mb-3">
        <label for="confirmpassword" class="form-label">Confirm Password</label>
        <br>
        <input type="confirmpassword" class="form-control-sm" type="text" formControlName="confirmpassword">
    </div>
</div>