
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: rgb(69, 103, 118);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: rgb(125, 149, 159);
}

.imgcontainer {
  text-align: center;
  margin-top: 2rem;
  margin-right: 10rem;
}

img.avatar {
  width: 35%;
}

.container {
  padding: 50px;
}
