<div class="container">
  <h1 class="title">Employé</h1>
  <br>
  <h2 class="sub-title">Liste des employés</h2>
  <br>
  <button class="btn-employe" routerLink="/create-account">Ajouter un employé</button>
  <br>
  <br>
  <!--form class="d-flex"-->
  <div class="row">
    <input class="form-control me-2 col search" type="text" placeholder="tous les prénoms" [(ngModel)]=firstName (keyup)="SearchUser()">
    <input class="form-control me-2 col search" type="text" placeholder="tous les noms" [(ngModel)]=lastName (keyup)="SearchUser()">
    <input class="form-control me-2 col search" type="text" placeholder="tous les emails" [(ngModel)]=email (keyup)="SearchUser()">
    <select id="roles" class="form-control me-2 col search" [(ngModel)]=blocked (change)="SearchUser()" [value]="null">
      <option value="null" [selected]>Tous</option>
      <option value="false">Actif</option>
      <option value="true">Inactif</option>
    </select>
  </div>
  <!--/form-->
  <br>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Roles</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody [ngClass]="{'loading':isLoading}">
      <tr *ngFor="let listAccountRegister of listAccount">
          <td>{{ listAccountRegister.firstName }}</td>
          <td>{{ listAccountRegister.lastName }}</td>
          <td>{{ listAccountRegister.email }}</td>
          <td>{{ listAccountRegister.roles}}</td>
          <td>
              <button class="btn-action " routerLink="/read-account/{{listAccountRegister.id}}">🔎</button>
              <button class="btn-action " routerLink="/update-account/{{listAccountRegister.id}}">📝</button>
              <button class="btn-action " (click)="deleteUser(listAccountRegister.id ?? 0)">❌</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
