<div class="container">
    <h2>Mes Utilisateurs</h2>
    <br>
    <button class="btn btn-primary" routerLink="/create-account">Ajouter un nouvel Utilisateur</button>
    <br>
    <br>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registerAccount of registerAccountList">
                    <td>{{ registerAccount.lastName }}</td>
                    <td>{{ registerAccount.firstName }}</td>
                    <td>{{ registerAccount.username }}</td>
                    <td>{{ registerAccount.email }}</td>
                    <td>
                        <button class="btn btn-primary" routerLink="/read-account/{{registerAccount.id}}">🔎</button>
                        <button class="btn btn-primary" routerLink="/update-account/{{registerAccount.id}}">📝</button>
                        <button class="btn btn-primary" (click)="deleteUser(registerAccount.id ?? 0)">❌</button>
                    </td>
            </tr>
        </tbody>
     </table>
</div>
