.loading{
    filter: blur(4px);
}
.search{
    height: 50px;
    font-size: 14px;
    background-image: url(../../../../../assets/images/search-symbol-blue.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: none;
    -webkit-appearance: none;
}