<div class="container">
    <div class="mb-3">
        <h1 class="title">Propriétaire</h1>
        <br>
        <button class="btn-retour" routerLink="/list-owner"><img class="img-retour" src="../../../../../assets/images/en-arriere.png" alt="retour"></button>
        <br>
        <br>
        <h2 class="sub-title">Détail Propriétaire</h2>
        <br>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nom : {{owner?.lname}}</li>
                <li class="list-group-item">Prénom : {{owner?.fname}}</li>
                <li class="list-group-item">Adresse : {{owner?.adress}}</li>
                <li class="list-group-item">Code postale : {{owner?.zip}}</li>
                <li class="list-group-item">Ville : {{owner?.city}}</li>
                <li class="list-group-item">Région/Province</li>
                <li class="list-group-item">Pays : {{owner?.country}}</li>
                <li class="list-group-item">Email : {{owner?.email}}</li>
                <li class="list-group-item">Numéro de téléphone : {{owner?.contact}}</li>
                <li class="list-group-item">Fax : {{owner?.fax}}</li>
                <li class="list-group-item">GSM : {{owner?.gsm}}</li>
                <li class="list-group-item">Contact : {{owner?.contact}}</li>
                <li class="list-group-item">Commentaire : {{owner?.comment}}</li>
                <li class="list-group-item">Reunion : {{owner?.reunion}}</li>
                <li class="list-group-item">Manifest : {{owner?.manifeste}}</li>
            </ul>
            <div class="card-body">
                <button class="btn-modifier" routerLink="/update-owner/{{owner?.id}}">Modifier Propriétaire</button>
                <br>
                <br>
                <button class="btn-supprimer">Supprimer Propriétaire</button>
            </div>
        </div>
</div>