<div class="container">
    <div class="mb-3">
        <p>Informations liées au propriétaire :</p>
        <p> {{owner?.lname}} </p>
        <p> {{owner?.fname}} </p>
        <p> {{owner?.adress}} </p>
        <p> {{owner?.zip}} </p>
        <p> {{owner?.city}} </p>
        <p> {{owner?.state}} </p>
        <p> {{owner?.country}} </p>
        <p> {{owner?.email}} </p>
        <p> {{owner?.phone}} </p>
        <p> {{owner?.fax}} </p>
        <p> {{owner?.gsm}} </p>
        <p> {{owner?.contact}} </p>
        <p> {{owner?.comment}} </p>
        <p> {{owner?.reunion}} </p>
        <p> {{owner?.manifeste}} </p>
    </div>
</div>