
/* Ajouter un espacement entre label et input */
.form-label {
    margin-bottom: 0.5rem;
}

.btn{
    background-color: #eee9e9;
    color:#777575;
    font-weight: bold;
}
.btn:hover{
    background-color: #F6F3F3;
}