<div class="container">
    <h5 class="title">Propriétaire</h5>
    <br>
    <h2 class="sub-title">Liste des propriétaires</h2>
    <br>
    <button class="btn-proprietaire btn" routerLink="/owner-management">Ajouter un propriétaire </button>
    <br>
    <br>
    <div class="row">
        <input class="form-control me-2 col search" type="text" placeholder="tous les noms" [(ngModel)]=lname (keyup)="SearchOwner()">
        <input class="form-control me-2 col search" type="text" placeholder="tous les prénoms" [(ngModel)]=fname (keyup)="SearchOwner()">
        <input class="form-control me-2 col search" type="text" placeholder="tous les emails" [(ngModel)]=email (keyup)="SearchOwner()">
        <input class="form-control me-2 col search" type="text" placeholder="tous les villes" [(ngModel)]=city (keyup)="SearchOwner()">
        <input class="form-control me-2 col search" type="text" placeholder="tous les code postaux" [(ngModel)]=zip (keyup)="SearchOwner()">
    </div>
    <br>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Ville</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let owner of owners">
                <td>{{ owner.lname }}</td>
                <td>{{ owner.fname }}</td>
                <td>{{ owner.email }}</td>
                <td>{{ owner.city }}</td>
                <td>{{ owner.zip }}</td>
                
                <td>
                    <button class="btn-action" routerLink="/read-owner/{{ owner.id }}">🔎</button>
                    <button class="btn-action" routerLink="/update-owner/{{ owner.id }}">📝</button>
                    <button class="btn-action" (click)="deleteOwner(owner.id)">❌</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>