<div class="container">
    <h3 class="title">Les propriétaires</h3>
    <br>

    <!--Les inputs de la recherche du owner-->
    <!--Nom-->
    <label for="lname" class="form-label">Nom</label>
    <input type="text" [(ngModel)]=lname (keyup)="SearchOwner()">

    <!--Prénom-->
    <label for="fname" class="form-label">Prénom</label>
    <input type="text" [(ngModel)]=fname (keyup)="SearchOwner()">

    <!--Zip-->
    <label for="zip" class="form-label">Code Postal</label>
    <input type="text" [(ngModel)]=zip (keyup)="SearchOwner()">
    
    <br>
    <br>
    <button class="btn btn-primary" routerLink="/owner-management">Ajouter un propriétaire </button>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Zip</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let owner of owners">
                <td>{{ owner.lname }}</td>
                <td>{{ owner.fname }}</td>
                <td>{{ owner.zip }}</td>
                <td>
                    <button class="btn btn-primary" routerLink="/read-owner/{{ owner.id }}">🔎</button>
                    <button class="btn btn-primary" routerLink="/update-owner/{{ owner.id }}">📝</button>
                    <button class="btn btn-danger" (click)="deleteOwner(owner.id)">❌</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
