/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.title {
    margin-top: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color:  rgb(133, 132, 0)
}
