/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face{
    font-family: 'Poppins';
    src:
        local('Poppins'),
        url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

body{
    font-family: 'Poppins';
}

.title {
    margin-top: 1rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 800;
    color:  rgb(133, 132, 0)
}

.sub-title {
    font-size: 2.2rem;
    font-weight: 700;
    font-style: italic;
    border-style: solid;
    border-color: rgb(198, 209, 214);
    width: fit-content;
    padding: 7px;
    background-color: rgb(125, 149, 159);
    color : white;
}
