<div class="container">
        <h2 class="text-decoration-underline">Modifier un Utilisateur</h2>
    <form [formGroup]="registerForm" (ngSubmit)="updateUser()">
        <div class="mb-3">
            <br>
            <label for="lastname" class="form-label">Nom</label>
            <br>
            <input id="lastname" type="text" class="form-control-sm" required formControlName="lastname">
            <br>
            <span class="text-danger" *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.errors?.['required']">Champs requis</span>
            <span class="text-danger" *ngIf="registerForm.get('lastname')?.errors?.['maxlength']">Maximum 45 caractères</span>
         </div>
         <div class="mb-3">
             <label for="firstname" class="form-label">Prénom</label>
             <br>
             <input id="firstname" type="text" class="form-control-sm" required formControlName="firstname">
             <br>
             <span class="text-danger" *ngIf="registerForm.get('firstname')?.touched && registerForm.get('firstname')?.errors?.['required']">Champs requis</span>
             <span class="text-danger" *ngIf="registerForm.get('firstname')?.errors?.['maxlength']">Maximum 45 caractères</span>
          </div>
          <div class="mb-3">
            <label for="roles" class="form-label">Roles</label>
            <br>
            <select id="roles" multiple class="form-control-sm" required formControlName="roles">
                <option value="ADMIN">Admin</option>
                <option value="SECRETAIRE">Secrétaire</option>
                <option value="FORESTIER">Forestier</option>
                <option value="EXTERNE">Externe</option>
            </select>
            <br>
            <span class="text-danger" *ngIf="registerForm.get('roles')?.touched && registerForm.get('roles')?.errors?.['required']">Champs requis</span>
        </div>
         <div class="mb-3">
             <label for="email" class="form-label">Email</label>
             <br>
             <input id="email" type="email" class="form-control-sm"  required formControlName="email">
             <br>
             <span class="text-danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">Champs requis</span>
             <span class="text-danger" *ngIf="registerForm.get('email')?.errors?.['email']">Format de mail invalide</span>
             <span class="text-danger" *ngIf="registerForm.get('email')?.errors?.['maxlength']">Maximum 250 caractères</span>
         </div>
         <div class="mb-3">
            <label for="phoneNumber" class="form-label">Téléphone</label>
            <br>
            <input id="phoneNumber" type="tel" class="form-control-sm" required formControlName="phoneNumber">
            <br>
            <span class="text-danger" *ngIf="registerForm.get('phoneNumber')?.touched && registerForm.get('phoneNumber')?.errors?.['required']">Champs requis</span>
            <span class="text-danger" *ngIf="registerForm.get('phoneNumber')?.errors?.['maxlength']">Maximum 45 caractères</span>
         </div>
         <br>
         <div class="form-check form-switch">
            <label for="blocked" class="form-check-label" >Actif</label>
            <input id="blocked" type="checkbox" class="form-check-input" checked required formControlName="blocked">
          </div>
          <br>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
</div>
